<div id="footer">
  <nav class="navbar navbar-default">
    <div class="navbar-inner">
      <div class="navbar-content container">
        <ul>
          <li><a href="">HOME</a></li>
          <li><a href="">HELP</a></li>
          <li><a href="">ABOUT</a></li>
        </ul>
        <footer class="navbar-right">
          © 2015 ykz.biz
        </footer>
      </div>
    </div>
  </nav>
</div>
