<!DOCTYPE html>
<html>
<head>
  <title>SiroKuro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-content">
      <a class="navbar-brand" href="#">LOGO</a>
      <ul class="nav navbar-nav">
        <li><a href="">HOME</a></li>
        <li><a href="">HELP</a></li>
        <li><a href="">ABOUT</a></li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="キーワード">
        </div>
        <button type="submit" class="btn btn-info">検索</button>
      </form>
    </div>
  </nav>

<%= yield %>

</body>
</html>
